<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Service</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/index}">IRISI_APP</a>
            <a><form th:action="@{/logout}" method="post"></form>
                <input type="submit" value="Se deconnecter">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/formService}">Services</a></li>
        </ul>
    </div>
</nav>

<div layout:fragment="content1">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Ajouter un Service</div>
            <div class="panel-body">
                <form th:action="@{/saveService}"  th:object="${service}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" for="nom">Nom du service :</label>
                        <input class="form-control" type="text" name="nom"  th:value="${service.nom}" id="nom" >
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="image">image :</label>

                        <input class="form-control"  name="image"  th:value="${service.image}"  id="image" >
                        <span class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>