<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Ajouter Produit</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" >
</head>
<script type="text/javascript">function fct(){
	var x=document.getElementById("type").value;
	if(x=="offreur"){
		document.getElementById("offreur").style.display="block";
		}
	else{
		document.getElementById("offreur").style.display="none";
		}
/*	else{
		  $('#typeoffreur').css('display','none');
		}*/
} </script>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" th:href="@{/index}">IRISI_APP</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a th:href="@{/index}">Home</a></li>
      		<li><a th:href="@{/formProduit}">Produit</a></li>
    	</ul>
  		</div>
	</nav>
	<div layout:fragment="content1">
		<div class="col-md-6">	
			<div class="panel panel-default">
				<div class="panel-heading">Ajouter un Produit</div>
				<div class="panel-body">
					<form th:action="@{/saveuser}" method="POST">
						<div class="form-group">
							<label class="control-label" for="nom">Nom :</label>
							<input class="form-control" type="text" name="nom" th:value="${user.nom}" id="nom" >
						<span th:errors="${user.nom}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label" for="name">Prenom :</label>
							<input class="form-control" type="text" name="prenom" th:value="${user.prenom}" id="prenom" >
						<span th:errors="${user.prenom}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label" for="name">Telephone :</label>
							<input class="form-control" type="text" name="telephone" th:value="${user.telephone}" id="telephone" >
						<span th:errors="${user.telephone}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label" for="name">E-mail :</label>
							<input class="form-control" type="email" name="email" th:value="${user.email}" id="email" >
						<span th:errors="${user.email}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label" for="name">Adresse :</label>
							<input class="form-control" type="text" name="adresse" th:value="${user.adresse}" id="adresse" >
						<span th:errors="${user.adresse}" class="text-danger"></span>
						</div>
						<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="type" onclick="fct()" name="type" value="${user.type}">
    <option>client</option>
    <option>offreur</option>
   
  </select>
</div>
<div id="offreur" class="form-group" style="display:none">
							<label class="control-label" for="name">Les caracteristiques offre:</label>
							<input class="form-control" type="text" name="adresse" th:value="${user.adresse}" >
						<span th:errors="${user.adresse}" class="text-danger"></span>
						</div>

						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>

			</div>

		</div>	
	</div>

</body>

</html> 