<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout">
<head>
  <title>Demandes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
  	.media{
  		border: solid 1px;
  		padding: 10px;
  		border-radius: 3px;
  		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  	}
  	.btn{
  		left: 850px;
  		border-radius: 0px;
  	}
  	button{
  		position: relative;
  	}
  
  </style>
  
</head>
<body>
    <!-- our navigation menu -->
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" th:href="@{/index}">IRISI_APP</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a th:href="@{/index}">Home</a></li>
      		<li><a th:href="@{/formProduit}">Produit</a></li>
    	</ul>
  		</div>
	</nav>

	<div class="container">
	  <!-- Left-aligned media object -->
	  <div class="media">
	    <div class="media-left">
	      <img src="img_avatar1.png" class="media-object" style="width:90px">
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Left-aligned</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	      <button type="button" class="btn btn-danger">plus ... </button>
	    </div>
	  </div>
  	<hr>
    </div>
</body>
</html>